@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    padding-top: 56px;
    padding-bottom: 0px;
}

a {
    color: #69b44a;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h3 code {
    font-size: 20px;
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
    padding: 20px 0;
}

footer a:hover {
    text-decoration: underline;
}

footer .container {
    padding: 0px 8px;
}

hr {
    margin-top: 8px;
    margin-bottom: 18px;
}

img.pull-right {
    margin-left: 20px;
    margin-bottom: 20px;
}

.table input, .table select {
    margin-bottom: 0px;
}

.well {
    padding: 10px;
}

#comments blockquote {
    margin-left: 65px;
}

.carousel {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*  border: 1px solid #cccccc; */
}

.carousel .item {
    padding: 10px 60px;
}

.carousel-control {
    margin-top: 0px;
}

.carousel-pizza {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-pizza h3 {
    margin-top: 0;
}

.carousel-pizza img {
    margin-top: 20px;
}

.table-images {
    width: 100%;
}

.table-images td {
    text-align: center;
}

.table-images .thumbnail {
    margin: auto;
}

.table tfoot th {
    text-align: center;
}

.table th.left, .table td.left {
    text-align: left;
}

.table th.right, .table td.right {
    text-align: right;
}

.table-data {
    margin-bottom: 10px;
}

.table-data tbody th {
    width: 160px;
    text-align: right;
    font-weight: normal;
}

.table-data th, .table-data td {
    border-top: none;
}

.sidebar .table-data tbody th {
    width: 40px;
}

.sidebar .form-actions {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

.sidebar .control-group {
    margin: 0px;
}

.carousel-table td {
    padding: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.pull-center {
    text-align: center;
}

.alert {
    font-weight: bold;
}

.content {
    padding-top: 20px;
}

.sidebar {
    padding-top: 20px;
}

.sidebar form {
    margin: 0;
}

.form-horizontal .controls .control-label {
    text-align: left;
}

.form-horizontal .controls .control-label input {
    margin-top: 0px;
    margin-right: 4px;
}

.navbar .nav > li > a {
    text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    text-shadow: none;
}

.navbar-inner:before, .navbar-inner:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar .brand {
    padding: 10px 20px;
    color: #69b44a;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, "Arial Black";
}

.unstyled.footernav li {
    display: inline-block;

}

.content h4 {
    margin-top: 2em;
}

@media ( max-width : 979px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }

    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }

    .navbar .container {
        width: 724px;
    }

    .nav-collapse .dropdown-menu {
        margin-left: 50px;
    }
}

@media ( max-width : 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer {
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-fixed-top {
        position: absolute;
    }

    .container {
        width: auto;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar .container {
        width: auto;
    }

    .carousel-table td {
        display: table-row;
        font-size: 85%;
    }

    .carousel-table td.img {
        text-align: center;
    }

    .carousel-table td h3 {
        font-size: 16px;
        line-height: 30px;
    }

    .carousel-control {
        font-size: 40px;
        height: 25px;
        width: 25px;
        line-height: 20px;
    }
}